@charset "UTF-8";
/*Home Page*/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: url('${pageContext.request.contextPath}/resources/img/fundo.jpg') no-repeat center center fixed;
	background-size: cover;
	height: auto;
	margin: 0;
  	padding: 0;
}

.hero-title {
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	margin-bottom: 1%;
	margin-top: 0%;
}

/* Estilos comuns para botões */
.destination-card,
.search-form,
.promotion-card {
	position: relative;
	max-width: 100%;
	margin: auto;
	margin-top: 0%;
	margin-bottom: 0%;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Pseudo-elemento para a camada de fundo */
.destination-card::before,
.search-form::before,
.promotion-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url('${pageContext.request.contextPath}/resources/img/fundo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transform: scaleX(-1);
	opacity: 0.8;
	z-index: -1;
}

.destination-cardd {
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5%;
	border-radius: 5%;
	background: linear-gradient(130deg, rgba(255, 150, 0, 0.5), rgba(255, 0, 165, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.destination-title {
	font-weight: bold;
	margin-bottom: 10px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.destination-description {
	text-align: justify;
}

.destination-button {
	font-weight: bold;
}

header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

footer {
	position: fixed;
    padding: 5px;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 0%;
    z-index: 50;
}

.return-topo {
	position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; 
}

.page-title {
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.search-form h2 {
	text-align: center;
	margin-bottom: 10px;
}

.back-to-top {
	background: #fff;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	line-height: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	transform: translateY(100%);
}

.back-to-top.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.form-group input,
.form-group label,
.form-group select,
.form-group textarea,
.form-control,
.col-form-label,
.form-check,
.row {
	align-items: center;
	font-size: large;
	padding: 5px;
	border-radius: 4px;
}

.form-group button {
	justify-content: center;
	align-items: center;
	bottom: 0;
}

.form-group {
	font-weight: bolder;
}

.form-text-lgpd {
	font-size: 15px;
	margin-top: 2%;
	margin-bottom: 0%;
	margin-left: 35%;
	margin-right: 35%;
	background-color: rgba(255, 255, 255, 0.4);
}

.btn-search {
	align-items: center;
	padding: 10px;
	font-weight: bold;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn-primary {
	padding: 10px;
	width: 20%;
	align-items: center;
	cursor: pointer;
	display: inline;
	margin: 0;
}

.alert-success{
	text-align: center;
	align-items: center;
}

/*Promoções*/
.card-title {
	text-align: center;
	text-shadow: 2px 2px 4px #e83e8c;
}

.inner-card {
	background-color: rgba(255, 255, 255, 0.2);
	border: rgba(0, 255, 255, 0.3) solid;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.inner-card-coupon {
	background-color: #007bff;
	color: #000000;
	font-weight: bold;
	align-items: center;
	border: none;
	border-radius: 5px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.inner-card-coupon.copied {
	background-color: rgba(255, 255, 0, 1);
}

.modal-title,
.modal-body {
	color: #000000;
}

/*Destino*/
.regiao-title {
	text-align: center;
	font-weight: bold;
	color: #000000;
	text-shadow: 2px 2px 4px #17a2b8;
	margin-top: 2%;
}

/* Estilos personalizados para o carrossel */
.carousel-inner img {
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 1%;
	width: 100%;
	height: 450px;
}

.carousel-caption {
	margin-top: 2%;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

.carousel-caption h3 {
	font-weight: bold;
}

/* Centralizar o botão dentro do carrossel */
.carousel-caption,
.btn,
.btm-sm {
	margin-top: 10px;
}

/* Centralizar o cupom de desconto dentro do carrossel */
.carousel-caption,
.inner-card-coupon {
	margin: 0 auto;
	margin-bottom: 2%;
}

.carousel-caption-sm {
	margin-top: 20%;
	margin-bottom: 35%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	text-align: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	border-radius: 5px;
}

.carousel-caption-promo-sm {
	padding: 1%;
	margin-top: 3%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	top: 0;
	width: 80%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	border-radius: 5px;
}

.carousel-caption-sm h3,
.carousel-caption-sm p {
	margin-bottom: -0.5%;
}

/* Estilos personalizados para os efeitos js*/
.hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease, visibility 1s ease;
}

main.hidden {
	display: nome;
}

.zoom-in {
	animation: zoomInAnimation 1.5s ease;
}

main {
	margin-bottom: 60px; 
}

@keyframes zoomInAnimation {
	from {
		opacity: 0;
		transform: scale(0.5);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

#listaMensagens {
        display: none; 
    }

.card-fixed-height {
    height: 100%; /* ou a altura desejada em pixels ou outra unidade */
}

@media (max-width: 768px) {
    .card-fixed-height {
        height: auto; /* Altura automática em telas menores */
    }
}