<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✈Destinos🏖</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body id="destino"
    style="background: url('/img/fundo.jpg') no-repeat center center fixed; background-size: cover;">
    <header>
        <nav id="header"></nav>
    </header>
    <a id="topo"></a>
    <main class="hidden mt-4">
        <section id="nordeste">
            <div class="container">
                <h1 class="text-center0 mb-4 page-title">Nordeste</h1>
                <div id="carouselNordeste" class="carousel slide" data-bs-ride="carousel">
                    <!-- traços marcadores -->
                    <div class="carousel-indicators">
                        <!-- primeiro marcador (ativo por padrão) -->
                        <button type="button" data-bs-target="#carouselNordeste" data-bs-slide-to="0" class="active"
                            aria-11 current="true" aria-label="Slide 1"></button>
                        <!-- segundo marcador: link imagem 2 -->
                        <button type="button" data-bs-target="#carouselNordeste" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <!-- terceiro marcador: link imagem 3 -->
                        <button type="button" data-bs-target="#carouselNordeste" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/PortoGalinhas1.jpg"
                                class="d-block w-100" alt="Slide 1">
                            <div class="carousel-caption-sm">
                                <h3>Porto de Galinhas</h3>
                                <p>Localizada em Ipojuca, no estado de Pernambuco, Porto de Galinhas é famosa por
                                    suas belas praias e piscinas naturais de águas cristalinas.</p>
                                <a href="/porto" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/fortaleza1.jpg"
                                class="d-block w-100" alt="Slide 2">
                            <div class="carousel-caption-sm">
                                <h3>Fortaleza</h3>
                                <p>Fortaleza é conhecida por suas praias paradisíacas, com águas cristalinas, como a
                                    Praia do Futuro e a Praia de Iracema.</p>
                                <a href="/fortaleza" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/salvador1.jpg"
                                class="d-block w-100" alt="Slide 3">
                            <div class="carousel-caption-sm">
                                <h3>Salvador</h3>
                                <p>Conheça sua rica cultura, culinária, música e suas belas praias, como a Praia do
                                    Farol da Barra e a Praia do Flamengo.</p>
                                <a href="/salvador" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselNordeste"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselNordeste"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="norte">
            <div class="container mt-4">
                <h1 class="text-center1 mb-4 page-title">Norte</h1>
                <div id="carouselNorte" class="carousel slide" data-bs-ride="carousel">
                    <!-- traços marcadores -->
                    <div class="carousel-indicators">
                        <!-- primeiro marcador (ativo por padrão) -->
                        <button type="button" data-bs-target="#carouselNorte" data-bs-slide-to="0" class="active"
                            aria-11 current="true" aria-label="Slide 1"></button>
                        <!-- segundo marcador: link imagem 2 -->
                        <button type="button" data-bs-target="#carouselNorte" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <!-- terceiro marcador: link imagem 3 -->
                        <button type="button" data-bs-target="#carouselNorte" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="/img/manaus1.jpeg"
                                class="d-block w-100" alt="Slide 1">
                            <div class="carousel-caption-sm">
                                <h3>Manaus</h3>
                                <p>Localizada no coração da Floresta Amazônica, Manaus é conhecida por seu patrimônio
                                    histórico e cultural.</p>
                                <a href="/manaus" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/alter1.jpeg"
                                class="d-block w-100" alt="Slide 2">
                            <div class="carousel-caption-sm">
                                <h3>Alter do Chão</h3>
                                <p>Conhecida como o "Caribe Amazônico", é um paraíso de águas doces e areias
                                    brancas, situado às margens do Rio Tapajós.</p>
                                <a href="/alter" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img src="/img/amazonas1.jpeg"
                                class="d-block w-100" alt="Slide 3">
                            <div class="carousel-caption-sm">
                                <h3>Amazonas</h3>
                                <p>Viva experiências únicas, como passeios de barco pelo Rio Negro, caminhadas na
                                    floresta e encontro com comunidades indígenas.</p>
                                <a href="/amazonas" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselNorte"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselNorte"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="sul">
            <div class="container mt-4">
                <h1 class="text-center1 mb-4 page-title">Sul</h1>
                <div id="carouselSul" class="carousel slide" data-bs-ride="carousel">
                    <!-- traços marcadores -->
                    <div class="carousel-indicators">
                        <!-- primeiro marcador (ativo por padrão) -->
                        <button type="button" data-bs-target="#carouselSul" data-bs-slide-to="0" class="active" aria-11
                            current="true" aria-label="Slide 1"></button>
                        <!-- segundo marcador: link imagem 2 -->
                        <button type="button" data-bs-target="#carouselSul" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <!-- terceiro marcador: link imagem 3 -->
                        <button type="button" data-bs-target="#carouselSul" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="/img/gramado1.png"
                                class="d-block w-100" alt="Slide 1">
                            <div class="carousel-caption-sm">
                                <h3>Gramado</h3>
                                <p>Localizada na Serra Gaúcha, é conhecida por seu clima europeu, paisagens
                                    encantadoras, gastronomia e eventos culturais.</p>
                                <a href="/gramado" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/floripa1.jpg"
                                class="d-block w-100" alt="Slide 2">
                            <div class="carousel-caption-sm">
                                <h3>Florianópolis</h3>
                                <p>É conhecida por suas belas praias, como a Praia da Joaquina, a Praia dos Ingleses e a
                                    Praia Mole, além da Lagoa da Conceição.</p>
                                <a href="/floripa" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img src="/img/Curitiba1.jpg"
                                class="d-block w-100" alt="Slide 3">
                            <div class="carousel-caption-sm">
                                <h3>Curitiba</h3>
                                <p>É conhecida por seu planejamento urbano, seus parques, como o Jardim Botânico, e por
                                    sua rica cultura e gastronomia.</p>
                                <a href="/curitiba" class="btn btn-primary btn-sm">Ver mais</a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSul"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselSul"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </section>       
        <div class="text-center">
			<button type="button" class="btn btn-secondary" onclick="window.history.back()">Voltar</button>   
        </div>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/function.js"></script>
    <script src="/scripts/components.js"></script>
</body>

</html>
