<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✈Fortaleza🏖</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
</head>
	<body id="fortaleza" 
		style="background: url('/img/fundo.jpg') no-repeat center center fixed; background-size: cover;">

    <header>
        <nav id="header"></nav>
    </header>

    <main class="mt-4">
        <div class="container">
            <h1 class="text-center mb-4 page-title">Detalhes do Destino</h1>

            <div class="card bg-transparent border-4">
                <div class="row g-0">
                    <!-- Coluna da Imagem -->
                    <div class="col-md-6">
                        <img src="/img/fortaleza1.jpg" class="card-img-top img-fluid" alt="Fortaleza" style="width: 100%;">
                    </div>
                    <!-- Coluna do Conteúdo -->
                    <div class="col-md-6">
                        <div class="card-body text-center">
                            <h5 class="card-title">Fortaleza</h5>
                            <p class="card-text">Com o poder de agradar pessoas de todas as idades, a capital cearense mistura muitas coisas de que o brasileiro gosta: belezas naturais, cultura, música, diversão e uma culinária de tirar o chapéu.</p>

                            <!-- Informações específicas do destino -->
                            <p>Data de Partida: 30/03/2024</p>
                            <p>Data de Retorno: 06/04/2024</p>
                            <p>Nome do Hotel: Mareiro</p>
                            <p>Itens Incluídos: Passagem ida e volta, diárias com café da manhã, passeios culturais e gastronômicos.</p>
                            <p class="bg-warning text-danger p-2">Por apenas 12 x 325,00 ✈ Valor Total: R$ 3.900,00</p>

                           	<a href="/reserva" class="btn btn-primary" id="btnReservar">Reservar</a><br>
                            <a href="/destino" class="btn btn-secondary" id="btnVoltar">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer> </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/function.js"></script>
    <script src="/scripts/components.js"></script>
    <script>
        document.getElementById('btnVoltar').onclick = function() {
            window.location.href = 'destino';
        };
    </script>
</body>
</html>
