<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✈Buscar Viagens🏖</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body id="pesquisa"
    style="background: url('@{${pageContext.request.contextPath}}/resources/img/fundo.jpg') no-repeat center center fixed; background-size: cover;">
    <header>
        <nav id="header"></nav>
    </header>
    <main class="hidden mt-4">
        <div class="container">
            <h1 class="text-center mb-8 page-title">Pesquisar</h1>
            <div class="search-form">
                <form action="@{${pageContext.request.contextPath}/buscar}" method="GET">
                    <div class="form-group mb-2">
                        <label for="origem">Origem:</label>
                        <select id="origem" name="origem">
                            <option value="">Selecione a origem</option>
                            <option value="São Paulo">São Paulo</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="destino">Destino:</label>
                        <select id="destino" name="destino">
                            <option value="">Selecione o destino</option>
                            <option value="1">Porto de Galinhas - PE</option>
                            <option value="2">Fortaleza - CE</option>
                            <option value="3">Salvador - BA</option>
                            <option value="4">Manaus - AM</option>
                            <option value="5">Alter do Chão - PA</option>
                            <option value="6">Região Amazônica - AM</option>
                            <option value="7">Gramado - RS</option>
                            <option value="8">Curitiba - PR</option>
                            <option value="9">Florianópolis - SC</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="datapartida">Data de Partida:</label>
                        <input type="date" id="datapartida" name="datapartida">
                    </div>
                    <div class="form-group mb-2">
                        <label for="datachegada">Data de Chegada:</label>
                        <input type="date" id="datachegada" name="datachegada">
                    </div>
                    <div class="form-group mb-2">
                        <label for="simularhotel">Simular Hotel</label>
                        <input type="checkbox" id="simularhotelCheckbox" name="simularhotel"
                            onchange="toggleHotelFields()">
                    </div>
                    <div id="hotelFields" style="display: none;">
                        <div class="form-group mb-2">
                            <label for="tipoquarto">Tipo de Quarto:</label>
                            <input type="text" id="tipoquarto" name="tipoquarto">
                        </div>
                        <div class="form-group mb-2">
                            <label for="qtdequarto">Quantidade de Quartos:</label>
                            <input type="text" id="qtdequarto" name="qtdequarto">
                        </div>
                        <div class="form-group mb-2">
                            <label for="precopornoite">Preço por Noite:</label>
                            <input type="text" id="precopornoite" name="precopornoite">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="simularpassagem">Simular Passagem</label>
                        <input type="checkbox" id="simularpassagemCheckbox" name="simularpassagem"
                            onchange="togglePassagemFields()">
                    </div>
                    <div id="passagemFields" style="display: none;">
                        <div class="form-group mb-2">
                            <label for="ciaaereadestino">Cia Aérea Destino:</label>
                            <input type="text" id="ciaaereadestino" name="ciaaereadestino">
                        </div>
                        <div class="form-group mb-2">
                            <label for="voodestino">Voo Destino:</label>
                            <input type="text" id="voodestino" name="voodestino">
                        </div>
                        <div class="form-group mb-2">
                            <label for="datadestino">Data Destino:</label>
                            <input type="date" id="datadestino" name="datadestino">
                        </div>
                        <div class="form-group mb-2">
                            <label for="horadestino">Hora Destino:</label>
                            <input type="time" id="horadestino" name="horadestino">
                        </div>
                        <div class="form-group mb-2">
                            <label for="origem">Origem:</label>
                            <input type="text" id="origem" name="origem">
                        </div>
                        <div class="form-group mb-2">
                            <label for="ciaaereaorigem">Cia Aérea Origem:</label>
                            <input type="text" id="ciaaereaorigem" name="ciaaereaorigem">
                        </div>
                        <div class="form-group mb-2">
                            <label for="vooorigem">Voo Origem:</label>
                            <input type="text" id="vooorigem" name="vooorigem">
                        </div>
                        <div class="form-group mb-2">
                            <label for="dataorigem">Data Origem:</label>
                            <input type="date" id="dataorigem" name="dataorigem">
                        </div>
                        <div class="form-group mb-2">
                            <label for="horaorigem">Hora Origem:</label>
                            <input type="time" id="horaorigem" name="horaorigem">
                        </div>
                        <div class="form-group mb-2">
                            <label for="precopassagem">Preço da Passagem:</label>
                            <input type="text" id="precopassagem" name="precopassagem">
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{${pageContext.request.contextPath}/resources/scripts/function.js}"></script>
    <script th:src="@{${pageContext.request.contextPath}/resources/scripts/components.js}"></script>
</body>

</html>
